.input__field
  height: 44px
  padding: 13px 15px
  font: var(--font__body)
  color: rgba(var(--color__dark-shade_rgb), .75)
  border: 1px solid rgba(var(--color__dark-shade_rgb), .25)
  border-radius: 4px
  &:hover,&:focus
    outline: none
    border-color: rgba(var(--color__dark-shade_rgb), .5)
