.checkbox__label
  display: flex
  align-items: center
  justify-content: flex-start
  cursor: pointer
  color: rgba(var(--color__dark-shade_rgb), .5)
  &::before
    display: block
    content: ""
    height: 20px
    width: 20px
    border: 1px solid rgba(var(--color__dark-shade_rgb), .25)
    transition: all .3s
    border-radius: 4px
    margin-right: 10px