include ../toxin/header/header
include ../toxin/footer/footer
include ../toxin/checkbox/checkbox
include ../toxin/radio/radio
include ../toxin/like/like

doctype html
html
    head
        meta(charset='utf-8')
        title Pug works
    body
        +header
        +footer
        +checkbox('check1') this
        +radio('r1') that
        +radio('r2') that
        +checkbox('check2', 'toggle') those
        +like(10, 'liked')

