include ../toxin/header/header
include ../toxin/footer/footer
include ../toxin/input/input

doctype html
html
    head
        meta(charset='utf-8')
        title Pug works
    body
        +header
        +footer