include ../toxin/header/header
include ../toxin/footer/footer
include ../toxin/checkbox/checkbox
include ../toxin/radio/radio

doctype html
html
    head
        meta(charset='utf-8')
        title Pug works
    body
        +header
        +footer
        +checkbox('check1') this
        +radio('r1') that
        +radio('r2') that

