include ../../button/button
mixin header__person
    .header__person
        +button(['secondary','low']) Войти
        +button(['primary','low']) Зарегистрироваться
    span.header__person.header__person_authorized

