include ./__logo/header__logo
include ./__nav/header__nav
include ./__person/header__person

mixin header
    header.header
        .header__container
            +header__logo
            +header__nav
            +header__person