include ../__brand/footer__brand
include ../__about/footer__about
include ../__nav/footer__nav
include ../__subscribe/footer__subscribe

mixin footer__top()
    .footer__top
        +footer__brand
        +footer__about